image: docker:24.0.5-cli
services:
  - docker:24.0.5-dind
before_script:
  - docker info

stages:
  - build

build:
  stage: build
  tags: 
    - amd64
  script:
    |
    cd cmake
    docker build -t anothersimplecoder/cmake .