name: build cmake

on:
  push:

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build CMake Docker image
        uses: docker/build-push-action@v3
        with:
          context: ./cmake
          file: ./cmake/Dockerfile
          push: false
          tags: ghcr.io/anothersimplecoder/cmake:latest