name: build cmake

on:
  push:

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build CMake Docker image
        working-directory: ./cmake
        run: docker build -t anothersimplecoder/cmake .